/** Carousels on kitchen pages and popups
 *  ------------------------------------------------------------------------------------------------
**/

/** KitchenCarousel
 *  ------------------------------------------------------------------------------------------------
**/

.KitchenCarousel {
  position: relative;
  overflow: hidden;
}

.KitchenCarousel__slide {
  transition:
    opacity var(--time-transition-slow) var(--ease-default),
    transform var(--time-transition-slow) var(--ease-default);
}


/** Displaying slides when JS is enabled
 *  ------------------------------------------------------------------------------------------------
**/
.js .KitchenCarousel__slide {
  display: none;
  opacity: 0;

  /* transform: scale(1.05); */
}

.KitchenCarousel__slide.js--carousel__slide--trans-in {
  opacity: 1;

  /* transform: scale(1); */
}

.js .KitchenCarousel__slide.js--carousel__slide--active {
  display: block;
}


/** Nav elements
 *  ------------------------------------------------------------------------------------------------
**/
.KitchenCarousel nav {

  & .js--carousel__nav__links {
    position: absolute;
    z-index: var(--z-section-nav);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }

  & ul {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
  }

  & li {
    display: block;
    padding: var(--bsu-s) var(--bsu-xs);
  }

  & button {
    display: block;
    background: transparent;
    color: var(--colour-primary);
    border: 2px solid;
    outline: 0;
    cursor: pointer;
    width: var(--bsu-s);
    height: var(--bsu-s);
    transition:
      color var(--time-transition) var(--ease-default),
      background-color var(--time-transition) var(--ease-default);
    transform: rotate(45deg);

    &:hover,
    &:focus {
      color: var(--colour-secondary);
    }
  }

  & .js--carousel__nav-link--active {
    background-color: currentColor;
  }

  /* next-prev */
  & .js--carousel__nav-link--prev {
    border-top: 0;
    border-right: 0;
  }

  & .js--carousel__nav-link--next {
    border-bottom: 0;
    border-left: 0;
  }
}


/** No Javascript styles
 *  ------------------------------------------------------------------------------------------------
 *  presented as a reel if there's no js
**/
.no-js .KitchenCarousel {
  display: flex;
  height: 60vh;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--colour-primary) var(--colour-subtler);
  background: var(--colour-primary);
}

.no-js .KitchenCarousel::-webkit-scrollbar {
  height: 1rem;
}

.no-js .KitchenCarousel::-webkit-scrollbar-track {
  background-color: var(--colour-subtler);
}

.no-js .KitchenCarousel::-webkit-scrollbar-thumb {
  background-color: var(--colour-subtler);
  background-image: linear-gradient(var(--colour-subtler) 0, var(--colour-subtler) 0.25rem, var(--colour-primary) 0.25rem, var(--colour-primary) 0.75rem, var(--colour-subtler) 0.75rem);
}

.no-js .KitchenCarousel > * {
  flex: 0 0 90vw;
}


.no-js .KitchenCarousel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.no-js .KitchenCarousel > * + * {
  margin-left: var(--bsu-s);
}

.no-js .KitchenCarousel.overflowing {
  padding-bottom: 1rem;
}

.no-js .KitchenCarousel nav {
  display: none;
}

/** Alternative no-js styling
 *  ------------------------------------------------------------------------------------------------
 *  presented as a block
**/
.no-js--alt .KitchenCarousel {
  display: flex;
  flex-wrap: wrap;
}

.no-js--alt .KitchenCarousel__slide:first-child {
  flex-basis: 100%;
  border-bottom: var(--bsu-s) solid var(--colour-background-body);
}

/* everything but the first child */
.no-js--alt .KitchenCarousel__slide:nth-child(1n+2) {
  min-height: 0;
  margin: 0 auto;
  flex: 1;
  flex-basis: 50%;
  border-bottom: var(--bsu-s) solid var(--colour-background-body);
}

/* every even numbered child after first */
.no-js--alt .KitchenCarousel__slide:nth-child(2n+2) {
  border-right: var(--bsu-xs) solid var(--colour-background-body);
}

/* every odd numbered slide after the first */
.no-js--alt .KitchenCarousel__slide:nth-child(2n+3) {
  border-left: var(--bsu-xs) solid var(--colour-background-body);
}

/* the last child if there are an uneven total number including the intro slide */
.no-js--alt .KitchenCarousel__slide:nth-child(2n+2):last-of-type {
  flex-basis: 100%;
  border: 0;
}
