{#
  Bespoke Introduction section
  -
  Not a neat/reusable component - just breaking messy code out from the bespoke layout
  ---
  CMS _data:
    introductionBlock.primaryImage
    introductionBlock.preHeader
    introductionBlock.header
    introductionBlock.text
    introductionBlock.subImages.one
    introductionBlock.subImages.two
    introductionBlock.subImages.three
    introductionBlock.subImages.four
    introductionBlock.subImages.five
  ---
  args:
    -
  ---
#}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/InlineImage.njk" import InlineImage with context %}
{% from "components/SylSection.njk" import SylSection with context %}


{% macro BespokeIntroduction() %}
<section class="BespokeIntroduction">
  {% call SylSection(
    class='BespokeIntroduction__one',
    secondaryColour=false,
    isAChild=true
  ) %}
    <div class="SylSection__columns SylSection__columns--weighted-right SylSection__columns--image-match-content--left u-flows">
      <div class="SylSection__column SylSection__column--left u-flows">
        {{
          InlineImage(
            img=introductionBlock.primaryImage
          )
        }}
      </div>
      <div class="SylSection__column SylSection__column--right u-flows">
        {{
          HeaderText(
            pre=introductionBlock.preHeader,
            header=introductionBlock.header,
            priority='h2',
            align='left'
          )
        }}
        {{
          RichText(
            content=introductionBlock.text,
            align='left'
          )
        }}
      </div>
    </div>
  {% endcall %} {# SylSection #}

  {% call SylSection(
    class='BespokeIntroduction__two',
    secondaryColour=false,
    isAChild=true,
    collapseTop=true
  ) %}
    <div class="HorizontalReel">
      <div class="HorizontalReel__ignore-me BespokeIntroduction__two__vertical">
        {{
          InlineImage(
            img=introductionBlock.subImages.one,
            lazy=true
          )
        }}
        {{
          InlineImage(
            img=introductionBlock.subImages.two,
            lazy=true
          )
        }}
      </div>
      {{
        InlineImage(
          img=introductionBlock.subImages.three,
          lazy=true
        )
      }}
      {{
        InlineImage(
          img=introductionBlock.subImages.four,
          lazy=true
        )
      }}
      {{
        InlineImage(
          img=introductionBlock.subImages.five,
          lazy=true
        )
      }}
    </div>
  {% endcall %} {# SylSection #}
</section>
{% endmacro %}
