{#
  Bespoke Materials section
  -
  This isn't a very neat component it's just broken out to isolate it from the core bespoke page
  ---
  CMS _data:
    materialsBlock.hero.hero
    materialsBlock.hero.subHeader
    materialsBlock.hero.header
    materialsBlock.preHeader
    materialsBlock.header
    materialsBlock.text
    materialsBlock.cta
    materialsBlock.ctaURL
    materialsBlock.materials
  ---
  args:
    -
  ---
#}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/InlineImage.njk" import InlineImage with context %}
{% from "components/CTA.njk" import CTA with context %}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/CloseButton.njk" import CloseButton with context %}


{% macro BespokeMaterials() %}
<section
  class="BespokeMaterials"
>
  {% call SylSection(
    class='BespokeMaterials__header',
    secondaryColour=true,
    backgroundImage=materialsBlock.hero.hero,
    isAChild=true
  ) %}
    {{
      HeaderText(
        post=materialsBlock.hero.subHeader,
        header=materialsBlock.hero.header,
        priority='h2',
        align='center'
      )
    }}
  {% endcall %} {# SylSection #}

  <div class="BespokeMaterials__diamond-wrap">
  {% call SylSection(
    class='BespokeMaterials__materials',
    secondaryColour=false,
    isAChild=true
  ) %}
    <div class="SylSection__columns SylSection__columns--weighted-even SylSection__columns--aligned-center u-flows">
      <div class="SylSection__column SylSection__column--left u-flows">
        {{
          HeaderText(
            pre=materialsBlock.preHeader,
            header=materialsBlock.header,
            priority='h2',
            align='left'
          )
        }}
        {{
          RichText(
            content=materialsBlock.text,
            align='left'
          )
        }}
        {{
          CTA(
            text=materialsBlock.cta,
            url=materialsBlock.ctaURL,
            align='left'
          )
        }}
      </div>
      <div class="SylSection__column SylSection__column--right u-flows">
        {% for materialTitle in materialsBlock.materials %}
          {% set material = collections.keyedMaterials[materialTitle] %}
          <span class="BespokeMaterials__material">
            <div class="BespokeMaterials__material__pad"></div>
            <a
              class="BespokeMaterials__material__link js--popup-trigger"
              data-target="{{['BespokeMaterials__material--', material.fileSlug] | join}}"
              href="{{ material.url }}"
            >
              {{
                InlineImage(
                  img=material.data.hero.hero,
                  lazy=true,
                  forcePadding=100
                )
              }}
            </a>
          </span>
        {% endfor %}
      </div>
    </div>
  {% endcall %} {# SylSection #}

  {% for materialTitle in materialsBlock.materials %}
    {% set material = collections.keyedMaterials[materialTitle] %}
    <div id="{{['BespokeMaterials__material--', material.fileSlug] | join}}" class="GenericPopup GenericPopup--material js--popup">
      <div class="GenericPopup__container">
        <button class="GenericPopup__back-close js--popup-close"><span class="visuallyhidden">close</span></button>

        <div class="GenericPopup__wrap">
          {{
            CloseButton(
              class='js--popup-close'
            )
          }}
          {% call SylSection(
            class='GenericPopup__content BespokeMaterials__material-info',
            secondaryColour=false,
            isAchild=true
          ) %}
            {{
              HeaderText(
                header=material.data.title,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=material.data.materialInformation.text,
                align='left'
              )
            }}
            {{
              CTA(
                text=[material.data.kitchensTitle, material.data.kitchensSubTitle] | join(' '),
                url=material.url,
                align='left'
              )
            }}
          {% endcall %}
        </div>
      </div>
    </div>
  {% endfor %}
  </div> {# .BespokeMaterials__diamond-wrap #}
</section>
{% endmacro %}
