{#
  CTA
  Call to action button.
  If there is text we render a button.
  If there is NO URL - we link to the brochure popup anchor
  ---
  CMS _data:
    -
  ---
  args:
    text=''
      Optional
      String
    url=''
      Optional
      String
    align='left'
      OneOf: ['left', 'right', 'center']
    newTab=false,
    dummy=false
    submit=false
  ---
#}

{# import components #}
{% from "components/Wrap.njk" import Wrap with context %}

{% macro CTA(
  text='',
  url='',
  align='left',
  newTab=false,
  dummy=false,
  submit=false
) %}
{% if text %}
  <div
    class="CTA CTA--align-{{ align }}{{ ' js--launch-popup' if not url }}"
  >
    {% call Wrap(flavour='readable', flows=true) %} {# readable width Wrap with flow #}
      {% if dummy %}
        <span class="CTA__a">
      {% elif submit %}
        <button class="CTA__a" type="submit">
      {% else %}
        <a class="CTA__a {{ 'js--popup-trigger' if not url }}" href="{{ url if url else '/brochure'}}" {{ 'data-target=brochure' if not url }} {{ 'target=_blank' if newTab }}>
      {% endif %}
        {{ text }}
      {% if dummy %}
        </span>
      {% elif submit %}
        </button>
      {% else %}
        </a>
      {% endif %}
    {% endcall %} {# wrap #}
  </div>
{% endif %}
{% endmacro %}
