{#
  Footer CTA component
  ---
  CMS _data:
    footerRecurring
      ctaBackground
      ctaUrl
      ctaPreHeader
      ctaHeader
      ctaSecondaryHeader
  ---
  args:
    -
  ---
#}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/HeaderText.njk" import HeaderText with context %}

{% macro FooterCTA(
  transparent = true
) %}

{% call SylSection(
  class='FooterCTA',
  secondaryColour=false,
  backgroundImage=footerRecurring.ctaBackground
) %}
  <a class="{{ 'js--popup-trigger' if not footerRecurring.ctaUrl }}" href="{{ footerRecurring.ctaUrl if footerRecurring.ctaUrl else '/brochure'}}" {{ 'data-target="brochure"' if not footerRecurring.ctaUrl }}>
    {{
      HeaderText(
        pre=footerRecurring.ctaPreHeader,
        header=footerRecurring.ctaHeader,
        post=footerRecurring.ctaSecondaryHeader,
        priority='h2',
        align='center'
      )
    }}
  </a>
{% endcall %} {# SylSection #}

</div>
{% endmacro %}
