{#
  Footer CTA component
  ---
  CMS _data:
    footerRecurring
      ctaBackground
      ctaUrl
      ctaPreHeader
      ctaHeader
      ctaSecondaryHeader
  ---
  args:
    -
  ---
#}


{% macro FooterCTA(
  transparent = true
) %}
<div class="FooterCTA">
</div>
{% endmacro %}
