{#
  SiteHeader component
  ---
  CMS _data:
    -
  ---
  args:
    transparent = true
      Optional
      Boolean
  ---
#}

{% from "components/Logo.njk" import Logo with context %}
{% from "components/Nav.njk" import Nav with context %}
{% from "components/Wrap.njk" import Wrap with context %}
{% from "components/CTA.njk" import CTA with context %}

{% macro SiteHeader(
  transparent = false
) %}
<header role="banner" class="SiteHeader{{ ' SiteHeader--transparent' if transparent else ' SiteHeader--opaque' }}{{ ' SiteHeader--with-cta' if navigation.cta else ' SiteHeader--no-cta' }}">

  {% call Wrap() %} {# maximum width Wrap #}

    {#
      site logo or name
    #}
    <div class="SiteHeader__logo">
      <a href="/">
        {{
          Logo()
        }}
      </a>
    </div>


    {#
      site nav
    #}
    <div class="SiteHeader__nav">
      <button
        class="SiteHeader__nav-trigger"
      >
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
        <span class="visuallyhidden">toggle menu</span>
      </button>
      {{
        Nav()
      }}
    </div>

    {#
    Header CTA
    #}
    {% if navigation.cta %}
    <div class="SiteHeader__cta">
      {{
        CTA(
          text=navigation.cta,
          url=navigation.ctaURL
        )
      }}
    </div>
    {% endif %}

  {% endcall %} {# Wrap #}
</header>
{% endmacro %}
