{#
  SylSection
  Almost every content block on the site is one of these.
  There are a few variants for single/double column and various background options.
  ---
  CMS _data:
    -
  ---
  args:
    class='',
      String
      Optional (adds custom classes to the <section> tag)
    secondaryColour=false,
      Boolean
    backgroundImage={}
      ExtraImageWidget object
      Optional
    id=''
      String
      Optional
    lazy=true, // we default to lazy loading the background - page headers opt out of this automatically
    collapseTop=false,
    isAChild=false // is this a smaller part of a parent section?
  ---
#}

{# import components #}
{% from "components/BackgroundImageFull.njk" import BackgroundImageFull with context %}

{% macro SylSection(
  class='',
  secondaryColour=false,
  backgroundImage={},
  id='',
  lazy=true,
  collapseTop=false,
  isAChild=false,
  leadingImage=false,
  endsWithCollapsible=false
) %}
{% set content = caller() %} {# ref: https://github.com/mozilla/nunjucks/issues/664 #}

  <{{ 'section' if not isAChild else 'div'}}
    class="SylSection {{
      class
    }} SylSection--{{
      'with-back' if backgroundImage.src else 'no-back'
    }} SylSection--back-{{
      'secondary' if secondaryColour else 'primary'
    }} SylSection--{{
      'top-collapse' if collapseTop else 'uncollapsed'
    }} SylSection--{{
      'leading-image' if leadingImage else 'no-leading-image'
    }} SylSection--{{
      'bottom-collapse' if (endsWithCollapsible and not backgroundImage.src) else 'uncollapsed-bottom'
    }}"

    {% if id %}
      id={{id}}
    {% endif %}

    {% if backgroundImage and (backgroundImage.dominant | length === 3) -%}
      style="background-color:rgb(
        {{backgroundImage.dominant[0]}},
        {{backgroundImage.dominant[1]}},
        {{backgroundImage.dominant[2]}}
      );"
    {%- endif %}
  >

    {#
      The actual content.
      This will be one or two columns of stuff!
    #}
    <div class="SylSection__content u-flows">
      {{ content }}
    </div>

    {#
      backgrounds for various screen sizes
      -
      see comments in BackgroundImageFull for details
    #}
    {% if backgroundImage.src %}
      {{ BackgroundImageFull(backgroundImage, lazy) }}
    {% endif %}
  </{{ 'section' if not isAChild else 'div'}}>

{% endmacro %}
