/** FooterPartners
 *  ------------------------------------------------------------------------------------------------
**/

.FooterPartners {
  padding: var(--bsu);
  background-color: var(--colour-background-subtle);

  & ul {
    padding: 0;
  }
}

.FooterPartners__partner {
  display: block;
}
