/** Header Text
 *  ------------------------------------------------------------------------------------------------
 *  consistent default spacing, sizing and alignment for pre/post/header text!
**/

.HeaderText {

  & p {
    /* larger font size for pre/post headers */
    font-size: var(--s1);
  }
}

.HeaderText__header {
  line-height: 1.2;
}

.HeaderText--align-right {
  text-align: right;
}

.HeaderText--align-center {
  text-align: center;
}
