/** SiteHeader
 *  ------------------------------------------------------------------------------------------------
**/

.SiteHeader {
  /* the wrap inside already has left/right padding on larger screens */
  padding: var(--bsu) 0;
  background-color: var(--colour-background-body);
  color: var(--colour-primary);
  position: relative;
  z-index: var(--z-fixed-header);

  & svg path {
    fill: var(--colour-primary);
  }

  & .Wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    /* disable padding on mobile - re-introduced below */
    padding-left: 0;
    padding-right: 0;
  }
}

.SiteHeader--with-cta {
  padding-bottom: 0;
}

@media (--edge-to-edge-ends) {

  .SiteHeader > .Wrap {
    padding-left: var(--bsu);
    padding-right: var(--bsu);
  }
}

@media (--menu-floats) {

  .SiteHeader {
    color: var(--colour-invert);
    background-color: transparent;
    padding-bottom: var(--bsu);
    position: absolute;
    z-index: var(--z-fixed-header);
    top: 0;
    left: 0;
    width: 100%;

    & svg path {
      fill: var(--colour-invert);
    }
  }
}


/** Header logo
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader__logo {
  /* padding to bump down nav if required */
  padding-right: var(--bsu);
  padding-left: var(--bsu);
  order: 1;

  & .Logo > .SvgWrap,
  & .Logo > img {
    width: 200px; /* TODO: should we let CMS user decide this? */
    max-width: 100%;
  }
}

@media (--edge-to-edge-ends) {
  /* wrap has padding above this point */
  .SiteHeader__logo {
    padding-left: 0;

    /* push other content to the right (menu is still minimised) */
    flex-grow: 1;
  }
}

@media (--column-break) {
  flex-grow: 0;
}


/** Header CTA
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader__cta {
  flex-basis: 100%;
  margin-top: var(--bsu);
  order: 3;

  & .Wrap {
    padding: 0;
  }

  & .CTA__a {
    width: 100%;
    font-size: var(--s-1);
    padding: var(--bsu-xs) var(--bsu);
    text-align: center;
  }
}

@media (--menu-floats) {

  .SiteHeader__cta {
    flex-basis: auto;
    flex-grow: 0;
    margin-top: 0;
    order: 2;
    position: relative;
    z-index: var(--z-fixed-header-nav-close);

    & .Wrap {
      padding-left: var(--bsu);
    }

    & .CTA__a {
      font-size: var(--s-1);
      padding: var(--bsu-xs) var(--bsu);
    }
  }
}

@media (--column-break) {

  .SiteHeader__cta {
    order: 3;
  }
}


/** Header Nav
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader__nav {
  display: inline-block;
  font-size: var(--s0);
  position: relative;
  order: 2;

  & ul {
    position: absolute;
    z-index: var(--z-fixed-header-nav);
    right: -1px;
    width: 1px;
    max-height: 1px;
    overflow: hidden;
    top: calc(var(--bsu) * -1);
    padding-top: calc(var(--s0) + var(--bsu) + var(--bsu) + var(--bsu));
    padding-bottom: var(--bsu);
    border-bottom: var(--bsu-xs) solid var(--colour-secondary);
    background-color: var(--colour-invert);
    box-shadow: var(--box-shadow-default);
    transform: translateX(100%);
    transition:
      transform var(--time-transition-fast) cubic-bezier(0.55, 0.055, 0.675, 0.19),
      width 0ms var(--time-transition-fast),
      max-height 0ms var(--time-transition-fast),
      visibility 0ms var(--time-transition-fast),
      right 0ms var(--time-transition-fast);
  }

  & li {
    display: block;
    text-transform: uppercase;
    flex: 1 0 auto;

    /* max-width: calc(var(--s6) * 3); */
    text-align: center;
    background-color: var(--colour-invert);
    color: var(--colour-primary);
    opacity: 0;
    transition: opacity 400ms 100ms ease-out;
  }

  & li:nth-child(2) {
    transition: opacity 400ms 140ms ease-out;
  }

  & li:nth-child(3) {
    transition: opacity 400ms 180ms ease-out;
  }

  & li:nth-child(4) {
    transition: opacity 400ms 220ms ease-out;
  }

  & li:nth-child(5) {
    transition: opacity 400ms 260ms ease-out;
  }

  & li:nth-child(1n+6) {
    transition: opacity 400ms 300ms ease-out;
  }

  & li a {
    display: inline-block;
    vertical-align: top;
    padding: var(--bsu);
    color: inherit;

    &:hover,
    &:focus {
      color: var(--colour-secondary);
    }
  }
}

.js--show--SiteHeader__nav ul {
  left: auto;
  right: 0;
  width: 100vw;
  max-height: 9999px;
  visibility: visible;
  transform: translateX(0);
  transition:
    transform var(--time-transition-fast) cubic-bezier(0.215, 0.61, 0.355, 1),
    width 0ms,
    max-height 0ms,
    visibility 0ms,
    right 0ms;

  & li {
    opacity: 1;
  }
}

/* if you focus an item in the menu it snaps in without transition */
.js--show--SiteHeader__nav.js--show--SiteHeader__nav--has-focus ul {
  transition: none;
}

.SiteHeader__nav-trigger {
  display: inline-block;
  vertical-align: top;
  padding: var(--bsu);
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  z-index: var(--z-fixed-header-nav-close);

  /* &:hover,
  &:focus {
    color: var(--colour-secondary);
  } */
}

.hamburger-box {
  width: var(--s3);
  height: var(--s1);
  display: block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 4px;
  position: absolute;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: ' ';
  display: block;
}

.hamburger-inner::before {
  top: calc(var(--s1) * 0.5 * -1);
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger-inner::after {
  bottom: calc(var(--s1) * 0.5 * -1);
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger-box .hamburger-inner {
  transition:
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    color var(--time-transition) var(--ease-default);
}

.js--show--SiteHeader__nav .hamburger-inner {
  transform: rotate(225deg);
  transition:
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),
    color var(--time-transition) var(--ease-default);
}

.js--show--SiteHeader__nav .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.js--show--SiteHeader__nav .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


.SiteHeader__nav-close {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  padding: var(--bsu);
  background: transparent;
  border: 0;
  outline: 0;

  & .SvgWrap {
    width: var(--s2);
  }

  & .SvgWrap svg path {
    fill: var(--colour-primary);
    transition: fill var(--time-transition) var(--ease-default);
  }

  &:hover .SvgWrap svg path,
  &:focus .SvgWrap svg path {
    fill: var(--colour-secondary);
  }
}


.js--show--SiteHeader__nav .SiteHeader__nav-trigger {
  color: var(--colour-primary);
}

.no-js .SiteHeader__nav-trigger,
.no-js .SiteHeader__nav .SiteHeader__nav-close-container {
  display: none;
}

.no-js .SiteHeader__nav {
  /* allow nav to grow but not logo */
  display: block;
  flex-grow: 1;
  order: 2;
  font-size: var(--s0);
  margin-top: var(--bsu);

  & ul {
    position: static;
    transform: none;
    background: transparent;
    padding: 0;
    border: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 9999px;
    visibility: visible;
  }

  & li {
    text-align: center;
    background-color: transparent;
    color: inherit;
    opacity: 1;
  }
}

@media (--menu-floats) {

  .SiteHeader__nav ul {
    right: calc(var(--bsu) * -1);
  }

  .js--show--SiteHeader__nav ul {
    right: calc(var(--bsu) * -1);
  }

  .SiteHeader__nav {
    order: 3;
  }
}

@media (--column-break) {

  .SiteHeader__nav-trigger,
  .SiteHeader__nav .SiteHeader__nav-close-container {
    display: none;
  }

  .SiteHeader__nav,
  .no-js .SiteHeader__nav {
    /* allow nav to grow but not logo */
    display: block;
    flex-grow: 1;
    order: 2;
    font-size: var(--s0);
    margin-top: 0;

    & ul {
      position: static;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      max-height: 9999px;
      visibility: visible;
      transform: none;
      background: transparent;
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    & li {
      text-align: right;
      background-color: transparent;
      color: inherit;
      opacity: 1;
    }
  }
}


/** Colour variations for non-transparent header
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader--opaque {
  background-color: var(--colour-background-body);
  color: var(--colour-primary);
  position: relative;

  & svg path {
    fill: var(--colour-primary);
  }
}
