/** SiteHeader
 *  ------------------------------------------------------------------------------------------------
**/

.SiteHeader {
  /* the wrap inside already has left/right padding */
  padding: var(--bsu) 0;
  color: var(--colour-invert);
  position: absolute;
  z-index: var(--z-fixed-header);
  top: 0;
  left: 0;
  width: 100%;

  & .Wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}


/** Header logo
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader__logo {
  /* padding to bump down nav if required */
  padding-right: var(--bsu);

  & .Logo > .SvgWrap,
  & .Logo > img {
    width: 200px; /* TODO: should we let CMS user decide this? */
    max-width: 100%;
  }
}


/** Header Nav
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader__nav {
  display: inline-block;
  font-size: var(--s0);
  position: relative;

  & ul {
    display: none;
    position: absolute;
    right: 0;
    top: calc(var(--s0) + var(--bsu) + var(--bsu));
  }

  & li {
    display: block;
    text-transform: uppercase;
    flex: 1 0 auto;
    max-width: calc(var(--s6) * 3);
    text-align: center;
    background-color: var(--colour-invert);
    color: var(--colour-primary);
  }

  & li a {
    display: inline-block;
    vertical-align: top;
    padding: var(--bsu);
    color: inherit;

    &:hover,
    &:focus {
      color: var(--colour-secondary);
    }
  }
}

.js--show--SiteHeader__nav ul {
  display: inline-block;
}

.SiteHeader__nav-trigger {
  display: inline-block;
  vertical-align: top;
  padding: var(--bsu);
  color: inherit;
  background-color: transparent;
  border: 0;
  outline: 0;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: var(--colour-secondary);
  }
}

@media (--squire) {

  .SiteHeader__nav-trigger {
    display: none;
  }

  .SiteHeader__nav {
    /* allow nav to grow but not logo */
    display: block;
    flex: 1;
    font-size: var(--s0);

    & ul {
      position: static;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }

    & li {
      text-align: right;
      background-color: transparent;
      color: inherit;
    }
  }
}


/** Colour variations for non-transparent header
 *  ------------------------------------------------------------------------------------------------
**/
.SiteHeader--opaque {
  background-color: var(--colour-background-body);
  color: var(--colour-primary);
  position: relative;

  & svg path {
    fill: var(--colour-primary);
  }
}
