{% from "components/SiteHeader.njk" import SiteHeader with context %}
{% from "components/SiteFooter.njk" import SiteFooter with context %}
{% from "components/FooterPartners.njk" import FooterPartners with context %}
{% from "components/FooterCTA.njk" import FooterCTA with context %}
{% from "components/GenericPopup.njk" import GenericPopup with context %}

<!DOCTYPE html>
<html class ='no-js' lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% include 'partials/social-meta.njk' %}

  {% include 'partials/scripts-styles.njk' %}

  <!--
    interested in how things work?
    Source code, including a breakdown of all the tools used, for this website can be found at:
    https://github.com/sleepingKiwi/sylvarna
  -->

  {#
    entry point for child templates to inject content into head if needed!
  #}
  {% block head %}
  {% endblock %}
</head>
<body
  class="{{ 'with-transparent-header' if transparentHeader else 'with-opaque-header'}}"
>
  {#
    SiteHeader
      transparentHeader is set through the cms as part of the pageSettings config that is used
      on every page...
  #}
  <a class="skip-link visuallyhidden" href="#main-content">Skip to content</a>
  {{
    SiteHeader(transparentHeader | default(false))
  }}


  {#
    entry point for child templates to inject their main content!
  #}
  {% block content %}
  {% endblock %}


  {#
    CTA block in footer
    -
    the footerCTA variable is set by individual pages
  #}
  {% if footerPartners %}
    {{
      FooterPartners()
    }}
  {% endif %}


  {#
    CTA block in footer
    -
    the footerCTA variable is set by individual pages
  #}
  {% if footerCTA %}
    {{
      FooterCTA()
    }}
  {% endif %}


  {#
    GenericPopup in footer
    -
    currently this is just the brochure but it's based on a collection so is extensible...
  #}
  {{
    GenericPopup()
  }}


  {{
    SiteFooter()
  }}

  {#
    entry point for child templates to inject content into foot if needed!
  #}
  {% block foot %}
  {% endblock %}

  {#
    Avoiding weird FOUC Chrome bug...
    ref: https://stackoverflow.com/questions/14389566/stop-css-transition-from-firing-on-page-load/42969608#42969608
  #}
  <script> </script>
</body>
</html>
