{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/PageHeader.njk" import PageHeader with context %}
{% from "components/CustomContent.njk" import CustomContent with context %}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/QuoteText.njk" import QuoteText with context %}
{% from "components/InlineImage.njk" import InlineImage with context %}
{% from "components/CTA.njk" import CTA with context %}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/KitchenGrid.njk" import KitchenGrid with context %}

{% block content %}
  <main id="main-content" class="site-main site-main--bespoke" tabindex="-1">
    {{
      PageHeader(
        pre=hero.preHeader,
        header=hero.header,
        hero=hero.hero
      )
    }}

    {#
      introduction
    #}
    {% call SylSection(
      class='BespokeIntroduction',
      secondaryColour=false
    ) %}
      <div class="SylSection__columns SylSection__columns--weighted-right sylSection__columns--aligned-center u-flows">
        <div class="SylSection__column SylSection__column--left u-flows">
          {{
            InlineImage(
              img=introductionBlock.primaryImage
            )
          }}
        </div>
        <div class="SylSection__column SylSection__column--right u-flows">
          {{
            HeaderText(
              pre=introductionBlock.preHeader,
              header=introductionBlock.header,
              priority='h2',
              align='left'
            )
          }}
          {{
            RichText(
              content=introductionBlock.text,
              align='left'
            )
          }}
        </div>
      </div>
    {% endcall %} {# SylSection #}
    {# TODO
      subImages
        one
        two
        three
        four
        five
    #}
    {#
      end introduction
    #}


    {#
      bespoke materials
    #}
    <section
      class="BespokeMaterials"
    >
      {% call SylSection(
        class='BespokeMaterials__header',
        secondaryColour=true,
        backgroundImage=materialsBlock.hero.hero,
        isAChild=true
      ) %}
        {{
          HeaderText(
            post=materialsBlock.hero.subHeader,
            header=materialsBlock.hero.header,
            priority='h2',
            align='center'
          )
        }}
      {% endcall %} {# SylSection #}

      {% call SylSection(
        class='BespokeMaterials__materials',
        secondaryColour=false,
        isAChild=true
      ) %}
        <div class="SylSection__columns SylSection__columns--weighted-left sylSection__columns--aligned-center u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
            {{
              HeaderText(
                pre=materialsBlock.preHeader,
                header=materialsBlock.header,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=materialsBlock.text,
                align='left'
              )
            }}
            {{
              CTA(
                text=materialsBlock.cta,
                url=materialsBlock.ctaURL,
                align='left'
              )
            }}
          </div>
          <div class="SylSection__column SylSection__column--right u-flows">

          </div>
        </div>
      {% endcall %} {# SylSection #}
    </section>
    {#
      end bespoke materials
    #}


    {#
      bespoke fittings
    #}
    <section
      class="BespokeFittings"
    >
      {% call SylSection(
        class='BespokeFittings__header',
        secondaryColour=true,
        backgroundImage=fittingsBlock.hero.hero
      ) %}
        {{
          HeaderText(
            post=fittingsBlock.hero.subHeader,
            header=fittingsBlock.hero.header,
            priority='h2',
            align='center'
          )
        }}
      {% endcall %} {# SylSection #}

      {% call SylSection(
        class='BespokeFittings__fittings',
        secondaryColour=false
      ) %}
        {{
          HeaderText(
            pre=fittingsBlock.preHeader,
            header=fittingsBlock.header,
            priority='h2',
            align='center'
          )
        }}
        {{
          RichText(
            content=fittingsBlock.text,
            align='center'
          )
        }}
        {{
          CTA(
            text=fittingsBlock.cta,
            url=fittingsBlock.ctaURL,
            align='center'
          )
        }}
      {% endcall %} {# SylSection #}
    </section>
    {#
      end bespoke fittings
    #}



    {#
      bespoke appliances
    #}
    <section
      class="BespokeSppliances"
    >
      {% call SylSection(
        class='BespokeAppliances__header',
        secondaryColour=true,
        backgroundImage=appliancesBlock.hero.hero
      ) %}
        {{
          HeaderText(
            post=appliancesBlock.hero.subHeader,
            header=appliancesBlock.hero.header,
            priority='h2',
            align='center'
          )
        }}
      {% endcall %} {# SylSection #}

      {% call SylSection(
        class='BespokeAppliances__appliances',
        secondaryColour=false
      ) %}
        <div class="SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-center u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
            {{
              InlineImage(
                img=appliancesBlock.leftImageOne
              )
            }}
            {{
              InlineImage(
                img=appliancesBlock.leftImageTwo
              )
            }}
          </div>
          <div class="SylSection__column SylSection__column--right u-flows">
            {{
              HeaderText(
                pre=appliancesBlock.preHeader,
                header=appliancesBlock.header,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=appliancesBlock.text,
                align='left'
              )
            }}
            {{
              CTA(
                text=appliancesBlock.cta,
                url=appliancesBlock.ctaURL,
                align='left'
              )
            }}
          </div>
        </div>
      {% endcall %} {# SylSection #}
    </section>
    {#
      end bespoke appliances
    #}



    {{
      CustomContent(genericContentBlocks)
    }}


    {#
      bespoke kitchens grid
    #}
    {% call SylSection(
      class='BespokeKitchensGrid',
      secondaryColour=false,
      backgroundImage=kitchensBlock.hero.hero
    ) %}
      {{
        HeaderText(
          post=kitchensBlock.hero.subHeader,
          header=kitchensBlock.hero.header,
          priority='h2',
          align='center'
        )
      }}
      {{
        KitchenGrid(
          kitchens=kitchensBlock.kitchens,
          showOwnMaterials=true,
          kitchensAreTitles=true
        )
      }}
    {% endcall %} {# SylSection #}
  </main>
{% endblock %}
