{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/PageHeader.njk" import PageHeader with context %}

{% block content %}
  <main id="main-content" class="site-main site-main--brochure" tabindex="-1">
    {{
      PageHeader(
        pre=hero.preHeader,
        header=hero.header,
        hero=hero.hero
      )
    }}

    <div class="Wrap Wrap--readable">
      <pre>
<strong>title:</strong>

{{title | safe}}

---

<strong>hero:</strong>

{{hero | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---
<strong>genericContentBlocks:</strong>

{{genericContentBlocks | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>requestBrochureBlock:</strong>

{{requestBrochureBlock | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>transparentHeader:</strong>

{{transparentHeader | safe}}

---

<strong>footerPartners:</strong>

{{footerPartners | safe}}

---

<strong>footerCTA:</strong>

{{footerCTA | safe}}
      </pre>
    </div>
  </main>
{% endblock %}
