{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/PageHeader.njk" import PageHeader with context %}
{% from "components/CustomContent.njk" import CustomContent with context %}

{% block content %}
  <main id="main-content" class="site-main site-main--contact" tabindex="-1">
    {{
      PageHeader(
        pre=hero.preHeader,
        header=hero.header,
        hero=hero.hero
      )
    }}

    <div class="Wrap Wrap--readable">
      <pre>

<strong>formContentArea:</strong>

{{formContentArea | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

      </pre>
    </div>



    {{
      CustomContent(genericContentBlocks)
    }}


    <div class="Wrap Wrap--readable">
      <pre>

---

<strong>findUsContentArea:</strong>

{{findUsContentArea | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>transparentHeader:</strong>

{{transparentHeader | safe}}

---

<strong>footerPartners:</strong>

{{footerPartners | safe}}

---

<strong>footerCTA:</strong>

{{footerCTA | safe}}
      </pre>
    </div>
  </main>
{% endblock %}
