{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/InlineImage.njk" import InlineImage with context %}
{% from "components/CTA.njk" import CTA with context %}
{% from "components/Wrap.njk" import Wrap with context %}
{% from "components/HomepageCarousel.njk" import HomepageCarousel with context %}


{% block content %}
  <main id="main-content" class="site-main site-main--home" tabindex="-1">
    {{
      HomepageCarousel(carousel)
    }}


    {% call SylSection(
      class='HomepageMain',
      secondaryColour=true
    ) %}
      {% call Wrap(flavour='maximum', flows=true) %}
        <div class="HomepageMain__primary u-flows">
          {{
            HeaderText(
              pre=firstContentArea.preHeader,
              header=firstContentArea.header,
              priority='h2',
              align='left'
            )
          }}
          {{
            RichText(
              content=firstContentArea.text,
              align='left'
            )
          }}
          {{
            CTA(
              text=firstContentArea.cta,
              url=firstContentArea.ctaURL,
              align='left'
            )
          }}
        </div>
        <div class="HomepageMain__image">
          {{
            InlineImage(
              img=firstContentArea.image
            )
          }}
        </div>
      {% endcall %}
    {% endcall %} {# SylSection #}


    {% call SylSection(
      class='HomepagePartnerships',
      secondaryColour=false
    ) %}
        <div class="HomepagePartnerships__columns u-flows">
          <div class="HomepagePartnerships__column HomepagePartnerships__column--one u-flows">
            {{
              InlineImage(
                img=partnershipsContentArea.image
              )
            }}
          </div>
          <div class="HomepagePartnerships__column HomepagePartnerships__column--two u-flows">
            {{
              HeaderText(
                pre=partnershipsContentArea.preHeader,
                header=partnershipsContentArea.header,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=partnershipsContentArea.text,
                align='left'
              )
            }}
            {{
              CTA(
                text=partnershipsContentArea.cta,
                url=partnershipsContentArea.ctaURL,
                align='left'
              )
            }}
          </div>
          <div class="HomepagePartnerships__column HomepagePartnerships__column--three u-flows">
            {% for logo in partnershipsContentArea.logos %}
              {{
                InlineImage(logo.image)
              }}
            {% endfor %}
          </div>
        </div>
    {% endcall %} {# SylSection #}
  </main>
{% endblock %}
