{% extends 'layouts/base.njk' %}

{% block content %}
  <main id="main-content" class="site-main site-main--home" tabindex="-1">
    {{ content | safe }}

    <div class="Wrap Wrap--readable">
      <pre>
<strong>carousel:</strong>

{{carousel | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>firstContentArea:</strong>

{{firstContentArea | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>partnershipsContentArea:</strong>

{{partnershipsContentArea | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>transparentHeader:</strong>

{{transparentHeader | safe}}

---

<strong>footerPartners:</strong>

{{footerPartners | safe}}

---

<strong>footerCTA:</strong>

{{footerCTA | safe}}
      </pre>
    </div>
  </main>
{% endblock %}
