{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/CustomContent.njk" import CustomContent with context %}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/KitchenGrid.njk" import KitchenGrid with context %}
{% from "components/KitchenCarousel.njk" import KitchenCarousel with context %}
{% from "components/Wrap.njk" import Wrap with context %}

{% block content %}
  <main id="main-content" class="site-main site-main--kitchen" tabindex="-1">

    {% call SylSection(
      class='KitchenInformation',
      secondaryColour=false
    ) %}
      <div class="SylSection__columns SylSection__columns--weighted-even SylSection__columns--aligned-center u-flows">
        <div class="SylSection__column SylSection__column--left u-flows">
          {{
            KitchenCarousel(
              images=kitchenInformation.additionalImages,
              cover=kitchenInformation.cover
            )
          }}
        </div>
        <div class="SylSection__column SylSection__column--right u-flows">
          {{
            HeaderText(
              pre=kitchenInformation.location,
              header=title,
              priority='h1',
              align='left'
            )
          }}
          {{
            RichText(
              content=kitchenInformation.description,
              align='left'
            )
          }}
        </div>
      </div>
    {% endcall %} {# SylSection #}

    {{
      CustomContent(genericContentBlocks)
    }}

    {# materials used #}
    {# the keyed collections is specially defined in .evelnty.js to make getting data easy #}
    {% call SylSection(
      class='KitchenMaterials',
      secondaryColour=true,
      backgroundImage=collections.keyedMaterials[materials[0]].data.hero.hero,
      lazy=true
    ) %}

      {{
        HeaderText(
          header=materialsUsedTitle,
          priority='h2',
          align='center'
        )
      }}

      {% call Wrap(flavour='readable') %}
        <ul class="KitchenMaterials__materials u-flows">
          {% for material in materials %}
            <li>
              <a href="{{ collections.keyedMaterials[material].url }}">
                {{ material }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endcall %}
    {% endcall %}


    {# similar kitchens #}
    {# the collection of similar kitchens is generated in .eleventy.js #}
    {% call SylSection(
      class='KitchenSimilar',
      secondaryColour=false
    ) %}
      {{
        HeaderText(
          header=similarKitchensTitle,
          priority='h2',
          align='center'
        )
      }}
      {{
        KitchenGrid(
          kitchens=collections.similarKitchens[page.fileSlug]
        )
      }}
    {% endcall %}

  </main>
{% endblock %}
