{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/PageHeader.njk" import PageHeader with context %}
{% from "components/CustomContent.njk" import CustomContent with context %}
{% from "components/HeaderText.njk" import HeaderText with context %}
{% from "components/RichText.njk" import RichText with context %}
{% from "components/QuoteText.njk" import QuoteText with context %}
{% from "components/InlineImage.njk" import InlineImage with context %}
{% from "components/CTA.njk" import CTA with context %}
{% from "components/SylSection.njk" import SylSection with context %}
{% from "components/StyleKitchenCarousel.njk" import StyleKitchenCarousel with context %}H
{% from "components/Wrap.njk" import Wrap with context %}HeaderText


{% block content %}
  <main id="main-content" class="site-main site-main--style" tabindex="-1">
    {{
      PageHeader(
        pre=hero.preHeader,
        header=title,
        hero=hero.hero
      )
    }}


    {#
      big picture
    #}
    <section
      class="StyleBigPicture"
    >
      {% call SylSection(
        class='StyleBigPicture__one',
        secondaryColour=false,
        isAChild=true
      ) %}
        <div class="SylSection__columns SylSection__columns--weighted-right sylSection__columns--aligned-center u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
            {{
              HeaderText(
                pre=styleBigPicture.preHeader,
                header=styleBigPicture.header,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=styleBigPicture.textOne,
                align='left'
              )
            }}
          </div>
          <div class="SylSection__column SylSection__column--right u-flows">
            {{
              InlineImage(
                img=styleBigPicture.imageOne
              )
            }}
          </div>
        </div>
      {% endcall %} {# SylSection #}

      {% call SylSection(
        class='StyleBigPicture__two',
        secondaryColour=false,
        collapseTop=true,
        isAChild=true
      ) %}
        <div class="SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-center u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
            {{
              InlineImage(
                img=styleBigPicture.imageTwo
              )
            }}
          </div>
          <div class="SylSection__column SylSection__column--right u-flows">
            {{
              RichText(
                content=styleBigPicture.textTwo,
                align='left'
              )
            }}
            {{
              CTA(
                text=styleBigPicture.ctas.ctaOne,
                url=styleBigPicture.ctas.ctaURLOne,
                align='left'
              )
            }}
            {{
              CTA(
                text=styleBigPicture.ctas.ctaTwo,
                url=styleBigPicture.ctas.ctaURLTwo,
                align='left'
              )
            }}
          </div>
        </div>
      {% endcall %} {# SylSection #}
    </section>
    {#
      end of big picture
    #}


    {#
      quote and generic content
    #}
    {% call SylSection(
      class='StyleQuoteOne',
      secondaryColour=true,
      backgroundImage=quoteGenericOne.hero
    ) %}
      {{
        QuoteText(
          quote=quoteGenericOne.quoteText,
          attribution=quoteGenericOne.quoteAttribution,
          align='left'
        )
      }}
    {% endcall %} {# SylSection #}


    {{
      CustomContent(quoteGenericOne.genericContentBlocks)
    }}
    {#
      end of quote and generic content
    #}


    {#
      style details
    #}
    <section
      class="StyleDetails"
    >
      {% call SylSection(
        class='StyleDetails__primary',
        secondaryColour=false,
        isAChild=true
      ) %}
        <div class="StyleDetails__primary__flex-columns SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-top u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
              {{
                InlineImage(
                  img=styleDetails.imageOne,
                  forcePadding=100
                )
              }}
            <div class="SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-top u-flows">
              <div class="SylSection__column SylSection__column--left u-flows">
                {{
                  InlineImage(
                    img=styleDetails.imageTwo,
                    forcePadding=128
                  )
                }}
              </div>
              <div class="SylSection__column SylSection__column--right u-flows">
                {{
                  InlineImage(
                    img=styleDetails.imageThree,
                    forcePadding=128
                  )
                }}
              </div>
            </div>
          </div>
          <div class="SylSection__column SylSection__column--right StyleDetails__primary__flexed-image u-flows">
            {{
              HeaderText(
                pre=styleDetails.preHeader,
                header=styleDetails.header,
                priority='h2',
                align='left'
              )
            }}
            {{
              RichText(
                content=styleDetails.textOne,
                align='left'
              )
            }}
            {{
              InlineImage(
                img=styleDetails.imageFour
              )
            }}
          </div>
        </div>
      {% endcall %} {# SylSection #}

      {% call SylSection(
        class='StyleDetails__secondary-text',
        secondaryColour=false,
        collapseTop=true,
        isAChild=true
      ) %}
        <div class="StyleDetails__secondary-text__columns SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-top u-flows">
          <div class="SylSection__column SylSection__column--left u-flows">
            <div class="SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-top u-flows">
              <div class="SylSection__column SylSection__column--left u-flows">
                {{
                  RichText(
                    content=styleDetails.textTwo,
                    align='left'
                  )
                }}
              </div>
              <div class="SylSection__column SylSection__column--right u-flows">
                {{
                  RichText(
                    content=styleDetails.textThree,
                    align='left'
                  )
                }}
              </div>
            </div>
          </div>
          <div class="SylSection__column SylSection__column--right u-flows">
            {{
              RichText(
                content=styleDetails.textFour,
                align='left'
              )
            }}
          </div>
        </div>
      {% endcall %} {# SylSection #}
    </section>
    {#
      end of style details
    #}


    {#
     style materials
    #}
    {% call SylSection(
      class='StyleMaterials',
      secondaryColour=true
    ) %}
      <div class="SylSection__columns SylSection__columns--weighted-even sylSection__columns--aligned-center u-flows">
        <div class="SylSection__column SylSection__column--left u-flows">
          <div class="StyleMaterials__images">
            {% for material in materials.materials %}
              <div
                class="js--material-image{{ ' js--material-image--active' if loop.first }}"
                id="js--material-image-{{loop.index}}"
              >
                {% set img = collections.keyedMaterials[material].data.hero.hero %}
                <img
                  src="{{ img.base }}w_1200,c_limit,q_auto:best/{{ img.version }}/{{ img.filename }}"
                  srcset="{{ img.base }}w_600,c_limit,q_auto:best/{{ img.version }}/{{ img.filename }} 600w,
                    {{ img.base }}w_1200,c_limit,q_auto:best/{{ img.version }}/{{ img.filename }} 1200w,
                    {{ img.base }}w_1800,c_limit,q_auto:best/{{ img.version }}/{{ img.filename }} 1800w,
                    {{ img.base }}w_2400,c_limit,q_auto:best/{{ img.version }}/{{ img.filename }} 2400w"
                  sizes="(min-width: 1200px) 100vh, 60vh"
                  alt="{{ img.alt | default('') }}"
                  {{ 'loading=lazy' if lazy }}
                >
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="SylSection__column SylSection__column--right u-flows">
          {{
            HeaderText(
              pre=materials.preHeader,
              header=materials.header,
              priority='h2',
              align='left'
            )
          }}
          {{
            RichText(
              content=materials.text,
              align='left'
            )
          }}
          {{
            CTA(
              text=materials.ctaOne,
              url=materials.ctaURLOne,
              align='left'
            )
          }}

          <div class="StyleMaterials__materials">
            {% call Wrap(flavour='readable') %}
              <ul>
                {% for material in materials.materials %}
                  <li>
                    <a
                      href="{{ collections.keyedMaterials[material].url }}"
                      class="js--material{{ ' js--material--active' if loop.first }}"
                      data-target="js--material-image-{{loop.index}}"
                    >
                      {{ material }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endcall %}
          </div>
        </div>
      </div>
    {% endcall %} {# SylSection #}
    {#
      end of style details
    #}


    {#
      second quote and generic content
    #}
    {% call SylSection(
      class='StyleQuoteTwo',
      secondaryColour=false,
      backgroundImage=quoteGenericTwo.hero
    ) %}
      {{
        QuoteText(
          quote=quoteGenericTwo.quoteText,
          attribution=quoteGenericTwo.quoteAttribution,
          align='center'
        )
      }}
    {% endcall %} {# SylSection #}

    {{
      CustomContent(quoteGenericTwo.genericContentBlocks)
    }}/
    {#
      end of second quote and generic content
    #}


    {#
      example kitchens carousel
    #}
    <section class="StyleExampleKitchens">
      {% call SylSection(
        class='StyleExampleKitchens__header',
        secondaryColour=true,
        backgroundImage=exampleKitchens.hero,
        isAChild=true
      ) %}
        {{
          HeaderText(
            post=exampleKitchens.subHeader,
            header=exampleKitchens.header,
            priority='h2',
            align='center'
          )
        }}
      {% endcall %} {# SylSection #}


      {% call SylSection(
        class='StyleExampleKitchens__kitchens',
        secondaryColour=false,
        isAChild=true
      ) %}
        {{
          StyleKitchenCarousel(page.fileSlug)
        }}
      {% endcall %} {# SylSection #}
    </section>
    {#
      end of example kitchens carousel
    #}

  </main>
{% endblock %}
