{#
  Extend base template
#}
{% extends 'layouts/base.njk' %}

{#
  Import components
#}
{% from "components/PageHeader.njk" import PageHeader with context %}
{% from "components/CustomContent.njk" import CustomContent with context %}

{% block content %}
  <main id="main-content" class="site-main site-main--style" tabindex="-1">
    {{
      PageHeader(
        pre=hero.preHeader,
        header=title,
        hero=hero.hero
      )
    }}

    <div class="Wrap Wrap--readable">
      <pre>
<strong>styleBigPicture:</strong>

{{styleBigPicture | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>quoteGenericOne:</strong>

{{quoteGenericOne | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

      </pre>
    </div>



    {{
      CustomContent(quoteGenericOne.genericContentBlocks)
    }}


    <div class="Wrap Wrap--readable">
      <pre>

---

<strong>styleDetails:</strong>

{{styleDetails | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>materials:</strong>

{{materials | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

<strong>quoteGenericTwo:</strong>

{{quoteGenericTwo | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}

---

      </pre>
    </div>



    {{
      CustomContent(quoteGenericTwo.genericContentBlocks)
    }}


    <div class="Wrap Wrap--readable">
      <pre>

---

<strong>exampleKitchens:</strong>

{{exampleKitchens | dump | safe | replace('":"', ' : ') | replace(',"', '<br><br>') | replace('"', "") | replace('{', '<div style="padding-left:24px;">') | replace('}', '</div>')}}
</pre>
    </div>
  </main>
{% endblock %}
