:root {
  /** primary colours
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-primary: #2d2d2d;
  --colour-secondary: #f2ab5a;
  --colour-highlight: #f2ab5a;
  --colour-subtle: #60737b;
  --colour-subtler: #b3bdc1;

  /** inverted colours
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-invert: #f7f7f7;
  --colour-invert-subtle: #f7e1c9;

  /** backgrounds
   *  ----------------------------------------------------------------------------------------------
  **/
  --colour-background-body: #f7f7f7;
  --colour-background-subtle: #edefef;
  --colour-background-secondary: #b3bdc1;
  --colour-background-pop: #993434;
}
