/** Styles for the Style pages that aren't enough for individual components
 *  ------------------------------------------------------------------------------------------------
**/

/** Bigger headers
 *  ------------------------------------------------------------------------------------------------
**/

@media (--edge-to-edge-ends) {

  .site-main--style > .PageHeader {
    min-height: 60vh; /* taller than normal SylSections */
  }
}


/** Big picture image to edge + line
 *  ------------------------------------------------------------------------------------------------
 *  there's a nice little line that connects the image above to the text below.
 *  top image also butts right up to the right of the page
 *  lovely.
 *  -
 *  We only apply this when two columns are used.
**/

@media (--column-break) {

  .StyleBigPicture {
    overflow: hidden;
  }

  .StyleBigPicture__one {
    padding-bottom: var(--bsu-l);
    position: relative;
    z-index: 2;

    & .SylSection__columns {
      padding-right: 0;
    }

    & .SylSection__column--right .Wrap {
      padding-right: 0;
    }

    & .SylSection__content {
      position: relative;
      z-index: 2;
    }

    &::before {
      content: ' ';
      position: absolute;
      z-index: 1;
      height: 50%;
      width: 100%;
      background: var(--colour-background-body);
      top: 0;
      left: 0;
    }
  }

  .StyleBigPicture__two {
    position: relative;
    z-index: 1;

    & .RichText {
      position: relative;
      background: var(--colour-background-body);

      & .Wrap {
        position: relative;
        z-index: 2;
        background: var(--colour-background-body);
        padding-top: var(--bsu);
      }

      &::after {
        content: ' ';
        position: absolute;
        z-index: 1;
        height: 2000px; /* this could be computed probably... */
        left: 50%;
        bottom: 0;
        width: 2px;
        margin-left: -1px;
        background: var(--colour-subtler);
      }
    }
  }
}


/** Details - align image bottoms and draw lines to text!
 *  ------------------------------------------------------------------------------------------------
**/
/* .StyleDetails__primary {
  padding-top: 0;
} */

.StyleDetails__primary__flexed-image {
  margin-top: var(--bsu-l);
}

@media (--edge-to-edge-ends) {

  .StyleDetails__primary {
    padding-top: var(--bsu-l);
  }
}

@media (--column-break) {
  /** right side positioning
   *  ----------------------------------------------------------------------------------------------
  **/
  .StyleDetails__primary__flex-columns {
    align-items: stretch;

    & > .SylSection__column--right {
      display: flex;
      flex-direction: column;

      & .InlineImage {
        width: 100%;
        flex: 1;
        position: relative;
      }

      & .PaddedImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent !important;
      }

      & .PaddedImage__padder {
        display: none;
      }

      & img {
        object-fit: cover;
        padding: 0 var(--bsu);
      }
    }
  }

  /** left image positioning
   *  ----------------------------------------------------------------------------------------------
  **/
  .StyleDetails__primary__flex-columns .SylSection__column--left .HorizontalReel {
    display: flex;
    flex-wrap: wrap;

    & .InlineImage {
      flex: 1 0 50%;
    }

    & .InlineImage:first-child {
      flex: 1 0 100%;
    }
  }

  /** lines
   *  ----------------------------------------------------------------------------------------------
  **/
  .StyleDetails__secondary-text .RichText {
    position: relative;

    &::after {
      content: ' ';
      position: absolute;
      z-index: 1;
      height: calc(100% + (var(--bsu-l))); /* this could be computed probably... */
      left: var(--bsu);
      bottom: 0;
      width: 2px;
      background: var(--colour-subtler);
    }
  }

  .StyleDetails__secondary-text .SylSection__column--left .SylSection__column--left .Wrap {
    padding-left: var(--bsu-xs);
  }

  .StyleDetails__secondary-text .SylSection__column--left .SylSection__column--left .RichText::after {
    left: 0;
  }

  .StyleDetails__secondary-text .SylSection__column--left .SylSection__column--right .Wrap {
    padding-top: var(--bsu);
    background: var(--colour-background-body);
    position: relative;
    z-index: 2;
  }

  .StyleDetails__secondary-text__columns > .SylSection__column--right .Wrap {
    padding-left: calc(var(--bsu-xs) + var(--bsu));
  }
}
