/** Styles for the Bespoke page that don't warrant their own components
 *  ------------------------------------------------------------------------------------------------
**/

/** Skinny headers
 *  ------------------------------------------------------------------------------------------------
**/
.BespokeMaterials__header,
.BespokeFittings__header,
.BespokeAppliances__header {
  min-height: 0;
}


/** Introduction - unique layout for image columns
 *  ------------------------------------------------------------------------------------------------
**/
.BespokeIntroduction__one {
  padding-bottom: var(--bsu);
}

.BespokeIntroduction__two {
  overflow: hidden;

  & .Wrap,
  & .SylSection__columns {
    padding: 0;
  }
}

.BespokeIntroduction__two__left {
  padding: 0 0 0 var(--bsu);

  & .Wrap {
    padding-right: var(--bsu);
  }

  & .SylSection__column--left > *:nth-child(1) {
    margin-right: var(--bsu);
  }

  & .SylSection__column--left > *:nth-child(2) {
    margin-left: var(--bsu);
  }
}

.BespokeIntroduction__two__right {

  & > .SylSection__columns {
    width: 120%;
  }

  & .SylSection__column--left {
    padding-right: var(--bsu);
  }
}


/** Overlapping images
 *  ------------------------------------------------------------------------------------------------
**/
.BespokeAppliances__appliances .SylSection__column--left {

  & .Wrap:nth-child(1) {
    padding-right: 20%;
  }

  & .Wrap:nth-child(2) {
    position: relative;
    margin-top: -15%;
    padding-left: 50%;
  }
}
