/** Styles for the Bespoke page that don't warrant their own components
 *  ------------------------------------------------------------------------------------------------
**/

/** Skinny headers
 *  ------------------------------------------------------------------------------------------------
**/
.BespokeMaterials__header,
.BespokeFittings__header,
.BespokeAppliances__header {
  min-height: 0;
}


/** Overlapping images
 *  ------------------------------------------------------------------------------------------------
**/
.BespokeAppliances__appliances .SylSection__column--left {

  & .Wrap:nth-child(1) {
    padding-right: 20%;
  }

  & .Wrap:nth-child(2) {
    position: relative;
    margin-top: -15%;
    padding-left: 50%;
  }
}
